.nav-container-main {
    display: flex;
    margin-left: 400px;
    margin-bottom: 50px;
}

.nav-container {
    display: flex;
}

.menu-icon{
display: none;
}

.nav-container img {
    margin-bottom: 50px;
    width: 50px;
    height: 200px;
}

.nav-container p {
    color: #131318;
    font-size: 66px;
    font-weight: 700;

}

.nav-container-text {
    color: #FF5400;
    font-size: 66px;
    font-weight: 700;

}

.items-container {

    display: flex;
    text-align: center;
    gap: 115px;
    padding: 90px;
    margin-left: 550px;
    font-size: 40px
}

.home-cooler {
    color: #FF5400;

}

.items-container a {
    text-decoration: none;

}


/* primary cooler related */

.primary-cooler {
    background-color: #FF5400;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #FFF;
}


/* river brige related */


.river-and-button {
    text-align: center;
    background-image: url(Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 2100px;
    border-radius: 15px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 300px;

}

.river-brige {
    color: #FFF;

    font-family: Mulish;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.button-text {
    display: inline-flex;
    padding: 20px;
    align-items: flex-start;
    gap: 28px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.30);
    font-weight: 400;

}

.booking {
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
}

.river-brige {
    text-align: cente;

}






/* Hill and img related */
.hiil-and-title {
    margin-top: 150px;
    display: flex;
    gap: 10px;
    margin-left: 400px;
    margin-right: 350px;

}

.hill-img {
    border-radius: 16px;
    width: full;
}

.hill-title {

    font-size: 26px;
}






/* Destination related */
.deste {
    font-size: 110px;

}

.your-destination {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

.row {
    display: flex;
    width: 400px;
    margin-right: 650px;
    margin-left: 400px;
    height: 430px;
    gap: 20px;
    margin-bottom: 20px;
}

.row-1 {
    width: 200px;
    height: 513px;
    display: flex;
    margin-left: 400px;
    gap: 20px;
}

.row-2 {
    width: 200px;
    height: 530px;
    display: flex;
    margin-left: 400px;
    gap: 20px;
    margin-top: 20px;

}




/* Choose-us related */

.Choose-us{
    margin-top: 50px;
    display: flex;
    margin-bottom: 30px;
   gap: 100px;
    text-align: center;
    margin-left: 400px;
}

.Choose-us-1 img{
border-radius: 16px;
background-color: bisque;
height:55px;
font-size: 30px;

}

.Choose-us-2 img{
    height:55px;
}
.Choose-us-3 img{
    height:55px;
}

.Choose-us-1{
    padding-top: 80px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 973px;
height: 384px;
flex-shrink: 0;


}

.Choose-us-2{
padding-top: 80px;

    width: 973px;
height: 384px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);

}
  .Choose-us-3{
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
    width: 973px;
    height: 384px;
    padding-top: 80px;
    padding-left: 200px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
  }


  /* input-type related */ 

  .input-type {
margin-top: 100px; 
margin-left: 400px;


  }
  .input{
    display: flex;
    border-radius: 500px;
    display: flex;
    margin-left: 400px;
    padding: 30px;
    padding-left: 200px;
    font-size: 30px;
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
 
  }
  .input-1{
    padding-left: 200px;
    color: #FFF;
     margin-left: 400px;
    background-color: #FF5400;
    padding: 30px;
    font-size: 43px;
  
  }
  .input.image.img {
    margin-left: 1500px;
    margin-right: px;
  }












  @media screen and (max-width: 600px) {
    .nav-container-main {
        margin-left: 0;
        justify-content: space-between;
        align-items: center;
    }

    .items-container {
        display: none;

    }

    .menu-icon {
        display: block; /* Show the menu icon */
        /* Add styles for the menu icon if needed */
    }

    .nav-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-container img {
        width: 60px;
        padding-top: 30px;
        height: 100px;
    }
    
    .nav-container p {
        color: #131318;
        font-size: 30px;
        font-weight: 700;
    
    }
    
    .nav-container-text {
        color: #FF5400;
        font-size: 30px;
        font-weight: 700;
    
    }



    .river-brige {
        font-size: 20px;
        padding-top: 10px;
    }

    .river-and-button {
        text-align: center;
        height: 80vh;
        padding: 10px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

    }

    .button-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hiil-and-title {
        margin-top: 150px;
        display: flex;
        padding: 10px;
        gap: 10px;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;

    }

    .hill-img {
        width: 100%;
    }

    .deste {
        font-size: 50px;
    
    }
    
    .your-destination {
        text-align: center;
        padding-top: 50px;
        font-size: 30px;
    }

    .row, .row-1, .row-2 {
        display: flex;
        width: 100%;
        padding: 10px;
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
        height: 100%;
        gap: 20px;
        margin-bottom: 20px;
        border-radius: none;
    }
    

    .Choose-us-1 img{
        m
        border-radius:6px;
        background-color: bisque;
        height:25px;
        font-size:5px;
    
        }
        
        .Choose-us-2 img{
            height:25px;
        }
        .Choose-us-3 img{
            height:25px;
        }

    .Choose-us{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        margin-bottom:0px;
        text-align: center;
        margin-left: 5px;
        
    }
    
        .Choose-us-1{
            padding-top: 15px;
            border-radius: 6px;
            border: 1px solid rgba(251, 181, 99, 0.20);
            background: rgba(251, 181, 99, 0.05);
            width: 284px;
            height: 260px;
            margin-bottom: 0px;
    
        }
        .Choose-us-2{
             margin-bottom: 50px;
            padding-top: 15px;
            width: 284px;
            height: 260px;
            border-radius: 6px;
            border: 1px solid rgba(41, 206, 246, 0.20);
            background: rgba(41, 206, 246, 0.05);
            
            }
              .Choose-us-3{
                margin-top: 10px;
                width: 284px;
                height: 260px;
                padding-top:15px;
                padding-left:0px;
                align-items: center;
                border-radius: 6px;
                border: 1px solid rgba(233, 68, 68, 0.20);
                background: rgba(233, 68, 68, 0.05);
              }







}

